{% extends "base.html" %}

{% block title_head %}Listado de Paletas{% endblock title_head %}

{% block h1_header %}Listado de Paletas{% endblock h1_header %}

{% block contenido %}

<a href="{% url "paletas:crear" %}">Crear paleta</a>

<form action="{% url "paletas:listado" %}" method="get">
    {{formulario.as_p}}
    <input type="submit" value="Buscar">
</form>

{% if paletas %}
<ul>
    {% for paleta in paletas %}
    <li>
        <a href="{% url "paletas:detalle" paleta.id %}">{{ paleta }}</a>
        | <a href="{% url "paletas:actualizar" paleta.id %}">Actualizar</a>
        | <a href="{% url "paletas:borrar" paleta.id %}">Borrar</a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No hay paletas disponibles.</p>
{% endif %}

{% endblock contenido %}