{% extends "base.html" %}

{% block title_head %}Perfil{% endblock title_head %}

{% block h1_header %}Mi Perfil{% endblock h1_header %}

{% block contenido %}

<ul>
    <li>Nombre: {{ request.user.first_name }}</li>
    <li>Apellido: {{ request.user.last_name }}</li>
    <li>Email: {{ request.user.email }}</li>
    <li>Biografia: {{ request.user.usuarioinfo.biografia }}</li>
</ul>

<p>
    <a href="{% url "usuarios:editar_perfil" %}">Editar</a>
</p>
<p>
    <a href="{% url "usuarios:cambiar_contrasenia" %}">Cambiar Contraseña</a>
</p>

{% endblock contenido %}